html-pristine/
html-parens/
html-css/
html-css-parens/
html-css-color/
html-css-color-parens/
html/
procedures/c/
**/.stamp
gambit-*.html
gambit.incolor.txi
gambit.info
toolshed/colorize.sed
toolshed/gambit.css
