**/*.html
**/*.tgz
**/*.tar
**/*.tar.*
**/.stamp
toolshed/adorn/adorn.o*
html/
html-modules/
tests/
procedures/a/
toolshed/*.css
toolshed/*.html
toolshed/examples/*.html
toolshed/macros+vars.txi
toolshed/scm-to-html
GNUmakefile
Makefile
gambit*.html
gambit*.txt
gambit.epub
gambit.txi
r7rs.info
r7rs*.html
r7rs*.txt
r7rs.epub
r7rs/r7rs.txi
r7rs/procedures/a/
r7rs/prose/a/
